*.class
*.pyc
*.DS_Store
*.log
*.project
*.out
target
.svn
.setttings
.classpath
MANIFEST.MF
cachedir
TEST*.xml
*.svn
whoosh_index
.settings
tmp/*
logs
.pydevproject*
*.db
bin/
develop-eggs/
downloads/
eggs/
parts/
.installed.cfg
**/media/cache
*.mo
*/media/videos/**
*/media/images/**
